@media(min-width: 1300px){

.container {
        width: 1400px;
        height: 100%;
        margin: 0 auto;
        padding: 0 15px 0 15px;
        border: 1px solid orangered;
       
}  
  
header {
    width: 100%;
    height: 120px;
    background-color: goldenrod;
    padding:5px;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}
#toplogo {
    width: 400px;
    height: 100px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}
#toplogo img {
    width: 100%;
    
    }
#toplogo #ham {display: none;}        
#menu1 {
    width: 600px;
    height: 80px;
    
    background-color: gold;
}
#menu1 #main_menu{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
#menu1 > ul > li {
    float: center;
    padding: 0.7%;
    margin: 1%;
    line-height: 50px;  
    text-align: center;
    color: #333; 
    background-color: rgb(219, 111, 92);
    cursor: pointer; 
    
}
#menu1 > li:nth-of-type(2n){
    background-color: honeydew;
}
#menu1 > li:hover {
    background-color: red;
    color: yellow;
    cursor: pointer;
}
#menu1 > ul > li > a{
    text-decoration: none;
    color: #333;
    display: block;
}
#menu1 > ul > li > a:hover{
    background-color: violet;
    transition: 3s;
}
#menu1 > img {
    width: 100vh;
}
#sub1 {display: none;}
#icon {
    width: 25px;
    height: 25px;
    position: relative;
    top: 0%;
    left: -8%;
    transform: translate(1%,-1%);
    display: flex;
    flex-direction: row;
}
#icon img{
    width: 100%;
    height: 100%;
    margin-right: 8px;
}
#icon img:hover {background-color: black; cursor: pointer;}

#slider {
    width: 1400px;
    height: 800px;
    margin: 30px auto;
    position: relative;
    overflow: hidden;
}
#slider #slide li {
    width: 1400px;
    height: 100%;
    float: left;
}

#slide li img { width: 100%; height: 100vh;}

#welcome {
    width: 100%;
    height:750px;
    
    background-color:burlywood;
}
#welcome .container {
    
    height: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
#welcome .container .h1 {
    width: 100%; }
#welcome .container h1 {
    width: 100%;
    font-size: 50px; 
    text-align: center; 
    line-height: 50px; 
    position: absolute;
    top:40px;
}
#welcome .container .welcombox {
    width:27%;
    height: 500px;
    margin-bottom: 30px;
    overflow: hidden;
}

#welcome .container .welcombox button {
    width: 100px; 
    height: 25px; 
    font-family: "돋움";
    background-color: yellow;
    border-radius: 5px;
    border: none;
    margin: 0 15px 0 15px;
}
#welcome .container .welcombox button:hover {
    background-color: red;
    color: #fff;
    cursor: pointer;
    border: none;
    font-weight: bold;
}
#welcome .container .innertext {
    box-sizing: border-box; 
    /* border: 2px solid;  */
    width: 27%;
    height: 150px; 
    color: #333;
    background-color: #f47736;
    z-index: 3; 
    position: absolute; 
    bottom:100px;
    padding: 2px;
}
#welcome .container .innertext2 {
    box-sizing: border-box; 
    /* border: 2px solid;  */
    width:27%;
    height: 120px; 
    color: #333;
    background-color: #6cdf68;
    z-index: 3; 
    position: absolute; 
    bottom: 110px;
}
#welcome .container h5 {
    font-size: 19px; 
    padding: 1%; 
    margin: 1%;
    text-align: center;
}
#welcome .container .welcombox img {
    width: 100%;
}
#welcome .container .welcombox img:hover {
    transform: scale(1.08);
    transition: all 0.35s ease-in-out;
    opacity: 1; 
  
}
#popular1{
    width: 100%;
    height: 500px;
    background-color:rgb(201, 148, 148) ;
}
#popular1 .container {
    width: 100%;
    height: 100%;
    display: table;
}
#popular1 .container img {
    background-image: url(img/pop1.jpg);
    background-size: cover;
    background-position: center center;
    width:100%;
    display: table-cell;
    vertical-align: top;
}
#popular1 .container .poptext {
    width: 50%;
    height: 100%;
    display: table-cell;
    flex-direction: column;
    vertical-align: middle;
    padding: 50px;
    padding-left: 30px;
    padding-right: 30px;
    background-color:#008484 ;
    color: #fff;
}
#popular2{
    width: 100%;
    height: 920px;
    text-align: center;
    background-color:rgb(201, 148, 148) ;
}
#popular2 .container {
    display: flex;
    flex-flow: row wrap;

}
#popular2 .container .popbox {
    width: 40%;
    height: 95%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}
#popular2 .container img {width: 100%; border-radius: 50%; }
#popular2 .container .popbox h1 {
    font-size: 45px; 
    color: #36ad47; 
    padding: 10px;}

#popular2 .container .popbox  .pop2 {
    font-size: 1.05rem; 
    padding: 15px; 
    color: #666; 
    text-align: start;
}
#popular2 .container .popbox span {
    box-sizing: border-box;
    background-color: #36ad47 ;
    color: #fff;
    font-family: sans-serif;
    padding: 10px;
    cursor: pointer;
}
#popular2 .container .popbox1 {
    width: 33%;
    height: 70%;
    background-color: #36ad47;
    margin-left: 1%;
    margin-right: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#popular2 .container .popbox1 li {line-height: 30px;}
/* #popular2 .container .popbox1 .imgbox{
    width: 100%; 
    height: 200px;
} */
#popular2 .container .popbox1 img {width:50%;}
#popular2 .container .popbox1 i {font-size: 20px;}
#popular2 .container .popbox2 {
    width: 20%;
    height: 70%;
}
#newsletter {
    width: 100%;
    height: 500px;
    background-color: darkorange;
}
#video {
    width: 100%;
    height: 800px;
    background-color: darksalmon;
}
#guide {
    width: 100%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    background-color: pink;
}
#guide .guidebox {
    width: 100%;
    height: 100%;
   
}
#bodyslide {
    width: 100%;
    height: 600px;
}
#bodyslide .container .bottombox img {
    background-image: url(img/2vi5s9ttnl_Julie_Larsen_Maher_9757_Snow_Leopard_Khyber_HIM_BZ_01_25_19.jpg);
    background-position: center center;
    background-size: cover;
    width: 100%;
}

}