@media(min-width: 1300px){

.container {
        width: 1200px;
        height: 100%;
        margin: 0 auto;
        padding: 5px;
        border: 1px solid orangered;
       
}  
  
header {
    width: 100%;
    height: 300px;
    background-color: goldenrod;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#toplogo {
    width: 100px;
    height: 200px;
    background-color: green;
}
#toplogo img {
    
    height: 70px;
    
   
}
/* .menuwrap {
    width: 100%;
    height: 70px;
    
} */
nav {
    width: 100%;
    height: 50px;
    background-color: gold;
}
header .ul {
    width: 600px;
    height: 50px;
        
    background-color: tomato;
}
header .nav li {
    padding: 0.2%;
    
}
header .nav li:nth-of-type(2n){
    background-color: honeydew;
}
header .nav li:hover {
    background-color: red;
    color: yellow;
    cursor: pointer;
}

/* #main_nav {
    width: 600px ; 
    height: 50px;
    background-color: beige;
} 
#main_nav ul li {font-family:'CookieRun-Regular';} */

#slider {
    width: 100%;
    height: 800px;
    background-color: blue;
}
#slider img { width: 90%;}

#search {
    width: 100%;
    height: 300px;
    background-color:burlywood;
}
#popular1,#popular2 {
    width: 100%;
    height: 300px;
    background-color:darkgrey ;
}
#newsletter {
    width: 100%;
    height: 500px;
    background-color: darkorange;
}
#video {
    width: 100%;
    height: 800px;
    background-color: darksalmon;
}
#guide {
    width: 100%;
    height: 400px;
    background-color: pink;
}
#guide .guidebox {
    width: 22%;
    height: 100%;
    background-color: darkslateblue;
}
#bodyslide {
    width: 100%;
    height: 600px;
}
#bodyslide img {width: 100%;}

}